<ul class="posts">
    <h3>Employment</h3>
    {% for post in site.categories.work %}
    &raquo;
        <span class="postlink">
         <a href="{{ post.link }}" target="_blank">{{ post.company }}</a>
       </span>
        <span class="timestamp">{{ post.dates }}</span>
        <span class="work-title">{{ post.title }}</span>
        <div class="work-content">{{ post.content }}</div>

    {% endfor %}
    <h3>Miscellanea</h3>
    <div class="work-content">
    <p><u>Computer Skills</u>:
        Experienced using, administrating and programming for Linux, Mac OS X, and other UNIX systems. Extensive experience with C, Python, Scala, Java, Perl6, Amazon Web Services, shell scripting, NoSQL and relational databases, GNU Make, and Git.
</ul>
