@import "https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css";

.bg-super-white { 
  font-family: 'Lucida Sans Unicode',  'Merriweather', monospace;
  /* font-family: 'Lucida Sans Unicode',  'Palatino'; */
  font-size: 13pt;
  background: #f9f9f9; 
}
.top-50 { top: 50% }
/* .link:hover { background: url(/images/line.png) repeat-x left bottom; } */

.title { 
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 16pt;
}

.joke { font-size: 8pt; font-weight: 500;}

.footer-text { font-size: 10px;}


.summary { font-size: 13pt; margin-bottom: 14px; border-bottom-width: 1px;}
/* Markdown styles */

.markdown-body {
  font-size: 13pt;
  line-height: 150%;
  hyphens: auto;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  color: #222222;
  font-weight: 400;
}
.markdown-body a {
  font-size: 13pt;

  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #357edd;
}
.markdown-body .highlighter-rouge {
  font-size: 13pt;

  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-rendering: optimizeLegibility;
  /* padding: .25rem .5rem; */
}
.markdown-body pre {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-rendering: optimizeLegibility;

  /* margin: 0; */
  overflow: auto;
}
.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  /* font-family: 'Lucida Sans Unicode',  'Palatino'; */
  text-rendering: optimizeLegibility;
  font-size: 13pt;

  padding: .5rem 1rem;
  margin: 0 ;
}
.markdown-body > hr {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  /* font-family: 'Lucida Sans Unicode',  'Palatino'; */
  text-rendering: optimizeLegibility;
  font-size: 13pt;

  margin: 2em -4rem;
  border: 0;
  border-bottom: 1px dotted #CCC;
}
.markdown-body h1 {
    font-size: 18pt;
    font-weight: 900;
}

.markdown-body blockquote {
  /* font-family: 'Lucida Sans Unicode',  'Palatino'; */
  text-rendering: optimizeLegibility;

  background: #f9f9f9;
  border-left: .2rem solid #ccc;
  padding-left: 0.8rem;
}

code,tt,pre,pre>p {
  line-height: 120%;
  font-family: monospace;
  font-size: 11pt;
}
.center-image
{
    margin: 0 auto;
    display: block;
}

.half-size 
{
  width: 50%;
  height: 80%;
}

.body {
  margin-left: auto;
    margin-right: auto;
    hyphens: auto;
  max-width: 8in;
}

/* end Markdown styles */
